@font-face{
    font-family: CascadiaCode-Light;
    src: url("../font/CascadiaCode-Light.otf");
}

body{
    font-family: CascadiaCode-Light;
    margin: auto;
}

.flex-container{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: purple;
    color: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item{
    background-color: aqua;
    width: 40vw;
    height: 80vmin;
    text-align: center;
    /* align-self: center; */
    /* max-height: 1vh; */
}

.seccion-logo{
    /* background-image: url('img/imgHome.png'); */
    background-color: black;
    height: 20%;
}

.seccion-title{
    background-color: blue;
    height: 15%;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccion-descripcion {
    background-color: crimson;
    height: 60%;
    overflow-y: auto;
}

.seccion-descripcion p {
    margin: 0em;
    padding: 1em 0.5em;
}

.seccion-footer {
    background-color: coral;
    height: 5%;
}