<html>
  <head>
    <title>API / Login</title>
    {{> admin/partials/assets }}
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="flex-container">
      <div class="flex-item">
        <div class="seccion-logo"></div>
        <div class="seccion-subtitle">
          <span> Login </span>
        </div>
        <div class="seccion-card-content">
          <form action="/admin/login" method="post">
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" name="email" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                name="pass"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember" />
                  <label for="remember"> Remember Me </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block">
                  Sign In
                </button>
              </div>
              <!-- /.col -->
            </div>
          </form>
        </div>
        <div class="seccion-footer">
          <span> Api contruida por F.Escarate </span>
        </div>
      </div>
    </div>
  </body>
</html>
