<html>
    <head>
        <link rel="stylesheet" href="css/home.css">

        <title>API</title>
    </head>
    <body>
        <div class="flex-container">
            <div class="flex-item"> 
                <div class="seccion-logo"></div>
                <div class="seccion-title">
                    <span>
                        API-Condominio
                    </span>
                </div>
                <div class="seccion-descripcion">
                    <p>
                        Eiusmod aliquip ex sit esse ullamco aute magna occaecat. Ut irure ea incididunt ipsum commodo voluptate adipisicing velit deserunt fugiat est in. Ea pariatur exercitation excepteur pariatur incididunt voluptate ad esse. Labore deserunt in commodo nostrud pariatur laboris irure 
                    </p>
                </div>
                <div class="seccion-footer">
                    <span>
                        Api contruida por F.Escarate
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>