<html>
  <head>
    <link rel="stylesheet" href="css/home.css" />
    <title>API</title>
  </head>
  <body>
    <div class="flex-container">
      <div class="flex-item">
        <div class="seccion-logo"></div>
        <div class="seccion-title">
          <span> API-Condominio </span>
        </div>
        <div class="seccion-descripcion">
          <p>
            Pagina home de API-Condominio. (deberia agregar alguna descripcion
            del proyecto)
          </p>
        </div>
        <div class="seccion-footer">
          <span> Api contruida por F.Escarate </span>
        </div>
      </div>
    </div>
  </body>
</html>
